<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Login</title>
</head>
<body>
    <!-- Navbar from dashboard, redirects back to dashboard instead of profile-->
    <div class="navbar">
        <div class="profile">Welcome to your dashboard: {{ username }}</div>
        <div class="button-group">
            <form action="/dashboard" method="GET">
                <button type="submit" class="success">Dashboard</button>
            </form>
            <form action="/logout" method="GET">
                <button type="submit" class="danger">Log Out</button>
            </form>
        </div>
    </div>
    <!-- Container based view for multiple features -->
    <div class="dashboard-grid">
        <div class="dashboard-item">
            <h2>User Information</h2>
            <p><strong>Name:</strong> {{ username }}</p>
            <p><strong>Email:</strong> {{ user_info[0][0] }}</p>
            <p><strong>Account creation date:</strong> {{ user_info[0][1] }}</p>
        </div>
        <div class="dashboard-item">
            <h2>Additional Info</h2>
            <p>Placeholder! Progression tracking, achievements etc goes here</p>
        </div>
    </div>
</body>
</html>