<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Register</title>
</head>
<body>
    <div class="login-box">
        <!-- Username taken -->
        <h1>Register</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
           <ul class="flashed-messages">
             {% for category, message in messages %}
               <li class="{{ category }}">{{ message }}</li>
             {% endfor %}
           </ul>
         {% endif %}
       {% endwith %}
        <!-- Registration form -->
        <form action="/registerSuccess" method="POST">
            <input type="text" name="email" placeholder="E-mail" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="password" placeholder="Confirm password" required>
            <button type="submit" class="success">Register</button>
        </form>
        <button type="button" class="danger" onclick="window.location.href='/login'">Back to login</button>
    </div>
</body>
</html>