<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>registerSuccess</title>
</head>
<body>
    <div class="login-box">
        <h1>Registered successfully!</h1>
        <!-- fix gif
        <img src="gifs\NAME.gif" alt="GIF" width="300"> -->
        <button type="button" class="success" onclick="window.location.href='/login'">Back to login</button>
    </div>
</body>
</html>